@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    outline: none;
}

input, button{
    padding: 10px;
    margin: 3px;
    opacity: 0.9;
    text-align: center;
    color: white;
    font-weight: bold;
}


html {

    height: 100%;
    width: 100%;
    font-family: 'Open Sans',serif;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
}

.upper-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /*height: 70px;
    max-height: 70px;*/
}

.brand-logo, .slogan{
    list-style-type: none;
    margin: 0;
}

.brand-logo img{
    height: 60px;
    margin-top: 10px;
}

.slogan{
    font-size: 13px;
    align-self: flex-end;
    padding-right: 20px;
}

/*Sub nav with all the option you can do*/
.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    background-color: #113342;

}

.nav-bar .option-menu, .nav-bar .link{
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    color: white;
}

.nav-bar .option-menu{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items:center;
    width: 100%;
    margin:0;
}

.nav-bar .option-menu .link{
    padding: 10px;
}

.nav-bar .option-menu  .li_access{
    margin-left: auto;
    padding:10px;
    margin-right: 20px;
    background-color: #2ab27b;

}

.error{
    margin-top: 5px;
    color: red;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width:100%;
}


.dropdown-content{
    display: none;
    flex-direction: column;
    justify-content: flex-end;
}
.dropdown-content > a{
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}


/*User Image*/
#user-image{
    width: 24px;
    height: 24px;
    float: left;
    border: 1px solid lightgray;
}

/*User options dropdown*/
.user-options{
    display: none;
    position: absolute;
    top:119px;
    right: 7px;
    width: 162px;
    box-shadow: 0 3px 1px rgba(0,0,0,.05);
    background-color: #2ab27b;
    padding: 0;
}

.user-options a{
    color:white;
    text-decoration: none;
}

.user-options li{
    list-style-type: none;
    padding: 10px;
    text-align: left;
}

.user-options i{
    padding-left: 10px;
}

.profile{
    padding-left: 20px;
}

.settings, .logout{
    padding-top: 5px;
    padding-left: 24px;
}

.user-options li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.li_access ul {
    z-index: 9999;
}

@media all and (max-width: 767px) {
    .upper-nav{
        flex-direction: column;
        align-items: center;
    }

    .brand-logo{
        padding:0;
    }

    .slogan{
        align-self: center;
    }

    .nav-bar .option-menu{
        flex-flow: column-reverse wrap;
        padding: 0;
    }

    .nav-bar li{
        width: 100%;
        padding:10px;
    }

    .nav-bar .option-menu  .li_access{
        margin: auto;
        width: 100%;
        padding:10px;
        background-color: #2ab27b;
    }

    .nav-bar li{
        border-bottom: solid thin gray;
    }

}
