

.login_form{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0;
    width: 100%;
    background-color: #30b27b;
}

.login_form form{
    margin: auto;
    margin-top: 30px;
}

.login_form i{
    color: white;
    opacity:0.9;
}

.login_form input, button{
    padding: 10px;
    margin: 3px;
    border: solid 2px white;
    background-color: #30b27b;
    opacity: 0.9;
    text-align: center;
    color: white;
    font-weight: bold;
}


.login_form input:focus{
    color: white;
    font-weight: bold;
}

::-webkit-input-placeholder, .forgotten_password{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

.forgotten_password{
    width:100%;
    margin: auto;
    font-size: 14px;
}

.subBar_login{
    #align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
    background-color: #009688;
}

.subBar_login a{
    margin:0;
    padding:2px;
    text-decoration: none;
    color: white;
}

.subBar_login i{
    font-size: 20px;
}

.underline{
    text-decoration: underline;
}

@media screen and (max-width: 520px){
    .login_form input{
        width: 97%;
    }

    .login_form button{
        margin-left: 46%;
    }

    .login_form form{
        margin-top: 20px;
    }

    .login_form .subBar_login{
        margin-top: 20px;
    }

    .subBar_login a{
        margin-top:10px;
    }


}