.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #113342;
    color: white;
    min-height: 300px;
}
.particular, .enterprise{
    margin: auto;
}

.circle-img{
    margin: auto;
    width: 150px;
    height: 150px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    background: gray;
}