.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #113342;
    color: white;
    min-height: 300px;
    justify-content: space-around;
    align-items: center;
}

.products a{
    text-decoration: none;
    color: white;
}

.currents, .savings, .loans{
    flex-basis:33%;
    text-align: center;
}

.circle-img{
    margin: auto;
    padding: 20px;
    width: 120px;
    height: 120px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    background: gray;
}