.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #113342;
    color: white;
    min-height: 300px;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
}

.circle-img{
    margin: auto;
    padding: 20px;
    width: 120px;
    height: 120px;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    background: gray;
}

.products>ul {
    padding: 0;
}

.products_name {
    list-style: none;
}