.container{
    width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
    margin: 20px;
}

p {
    margin-top:0px;
}

input[type="submit"], button[type="submit"], #back{
    float: right;
    width: initial;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    color: white;
}
select {
    width:100%;
}

.form-wrapper {
    border: solid thin gray;
    padding: 10px;
}