.main-interface {
    display: flex;
    min-height: calc(100% - 119px);
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.container{
    width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.side-bar{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #2ab27b;
    border-right: solid thin gray;
}

h3 a {
    color:inherit;
}
.side-bar > a, .side-bar > h3{
    width:100%;
    text-align:center;
    color: white;
    text-decoration: none;
}

.side-bar > a{
    border-bottom: solid thin gray;
    padding-bottom: 5px;
    padding-top: 5px;
}

.side-bar a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 766px ){
    .main-interface {
        height: 100%;
    }
}