.main-interface {
    display: flex;
    height: calc(100% - 119px);
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}


.side-bar{
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #2ab27b;
    border-right: solid thin gray;
}

.side-bar > a, .side-bar > h3{
    width:100%;
    text-align:center;
    color: white;
    text-decoration: none;
}

.side-bar > a{
    border-bottom: solid thin gray;
}

.side-bar a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}