.container{
    flex-direction: row;
}

.picture-wrapper{
    width: 25%;
    margin-left: 10px;
    margin-right: 20px;
}

.pic-box{
    height: 174px;
    width: 174px;
    margin:auto;
    border: solid thin gray;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

.pic-box img{
    border: solid thin gray;
    width: 150px;
    height: 150px;
}

.person-wrapper{
    width: 75%;
    margin-right: 20px;
    border:solid thin gray;
}
.person-box{
    padding:30px;
}

.person-info{
    width:100%;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column{
    width: 50%;
    align-self: center;
text-align: center;}
input[type="submit"]{
    color: white;
}

@media screen and (max-width: 834px) {
    .picture-wrapper{
        display: none;
    }

    .person-wrapper{
        margin-left: 20px;
        width:100%;
    }
}

@media screen and (max-width: 669px) {
    .row{
        flex-direction: column;
    }
}